* {
    margin: 0;
    padding: 0;
  }

  body{
      font-family:"Poppins"; 
  }
  
  header {
    background: #2D25A0;
  }
  header nav {
    width: 80%;
    margin: 0 auto;
    height: 70px;
    display: grid;
  }
  header nav div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header nav div a {
    color: #FFFFFF;
    text-decoration: none;
  }
  header nav div ul {
    list-style-type: none;
    display: flex;
  }
  header nav div ul.header-menu li {
    margin-left: 25px;
  }
  header nav div.log-in {
    background-color: #E02C6D;
    padding: 10px 25px;
  }
  header nav div.log-in a i {
    margin-right: 10px;
  }

  /* Copa America --------
  -------------------Home */


  .Copa-Container{
    
    background-color: #2D25A0;
    display: flex;
    padding-top: 5%;
  }

  .half-width h2{
    font-size: 64px;
    color: white;
  }

  .half-width{
    width: 50%;
    padding-left: 5%;
    flex-direction: column;
  }

  .first-player img{
    width: 50%;
    height: auto;
    padding-left: 35%; 
  }

  a button{

    margin-top: 5%;
    margin-bottom: 5%;
    height: 50px;
    width: 200px;
    background-color: #E02C6D;
    border: none;
    font-family: inherit;
    font-size: 18px;
    color: white;
  }




